body {
    font-family:Roboto;
    background-color: #F2BB66;
    color:#3D4CC4;
}


h1, h2, h3, h4, h5, h6 {
    font-family:"Space Grotesk";
    font-size:30pt;
    text-align:center
}
h2{
    font-size:30pt;
}
header {
    text-align:center;
}

#hero, footer {
    color:#3D4CC4;
    border: 2px solid #3D4CC4;
    background-color: #819463;
    text-align:center;
    padding:10px;
}

#hero img{
    width:300px;
}

#bio{
    text-align:center;
}


#hobbies ul li:nth-child(even) {
    color:rgba(0, 0, 0, 0.459);

}

